<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create ByteCard | ByteCard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/addcard.css" />
    <link rel="stylesheet" href="/css/modal.css" />
  </head>
  <body>
    <header class="header">
      <a class="logo" href="/"><div>ByteCard</div></a>
      <nav class="nav">
        <a href="/search" class="nav-link">Discover</a>
        <% if (user) { %>
          <a href="/dashboard"><span class="nav-link">Welcome, <%= user.name %></span></a>
          <a href="/logout" class="nav-link">Logout</a>
        <% } else { %>
          <a href="/login" class="nav-link">Login</a>
        <% } %>
      </nav>
    </header>
    <div>
      <form action="/createByteCard" method="POST">
        <h2>Create your ByteCard</h2>
        <div>
          <label for="name">Enter Full Name:</label>
          <input type="text" id="name" name="cardName" required />
        </div>
        <div>
          <label for="position">Enter Position:</label>
          <input type="text" id="position" name="cardPosition" required />
        </div>
        <div>
          <label for="company">Enter Company:</label>
          <input type="text" id="company" name="cardCompany" required />
        </div>
        <div>
          <label for="items">Select Tag:</label>
          <select id="items" name="tagId" required>
            <% tags.forEach(function(tag) { %>
              <option value="<%= tag.tagid %>"><%= tag.tagname %></option>
            <% }); %>
          </select>
        </div>
        <div>
          <label for="visibility">Visibility:</label>
          <input type="checkbox" id="visibility" name="visibility" value="yes" />
          <label for="visibility">Yes</label>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>