<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | ByteCard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <header class="header">
        <div class="logo">ByteCard</div>
        <nav class="nav">
            <a href="/search" class="nav-link">Discover</a>
            <a href="/logout" class="nav-link">Logout</a>
        </nav>
    </header>

    <main class="main-container">
        <h1>Welcome [User]!</h1>
        <h2>Your Cards:</h2>
        <div class="card-container">
            <button class="custom-button">+</button>
        </div>

    </main>

    <footer class="footer">
        ByteCard - 2024
    </footer>
</body>
</html>
