<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 1  href="/css/dashboard.css">
    <title>Dashboard | ByteCard</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/home" class="brand">ByteCard</a>
            <ul class="nav-links">
                <a class="links" href="/discover">Discover</a>
                <a class="links" href="/logout">Logout</a>
            </ul>
        </div>
    </nav>

    <div class="welcome-box">
        <h1>Welcome, [User's Name]!</h1>
        <p>Here you can create your very own ByteCard and share to your friends!</p>
        <a href="/cardcreator"><button class="Btn" href="/cardcreator"></button></a>
    </div>
</body>
</html>