<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Home | ByteCard</title>
</head>
<body>
  <header class="header">
    <div class="logo">ByteCard</div>
    <nav class="nav">
        <a href="/search" class="nav-link">Discover</a>
        <a href="/login" class="nav-link">Login</a>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Welcome to ByteCard</h1>
        <p class="hero-description">
            Your ultimate destination for creating, discovering and sharing digital business cards.
        </p>
        <img src="css/hero.png" alt="" class="hero-img">
        <a href="/register" class="btn btn-primary">Get Started</a>
    </div>
</section>

<section class="how-it-works">
  <div class="container">
      <h2 class="section-title">How It Works</h2>
      <p class="section-description">
          Creating and sharing your digital business cards is as easy as 1-2-3!
      </p>
      <div class="steps">
          <div class="step">
            <i style="color: black; font-size: 5rem;" class="fa-solid fa-right-to-bracket"></i>
              <h3 class="step-title">Step 1: Create</h3>
              <p class="step-description">
                  Sign up and design your personalized digital business card in minutes.
              </p>
          </div>
          <div class="step">
            <i style="color: black; font-size: 5rem;" class="fa-solid fa-share"></i>
              <h3 class="step-title">Step 2: Share</h3>
              <p class="step-description">
                  Instantly share your card via QR codes, links, or social media.
              </p>
          </div>
          <div class="step">
            <i style="color: black; font-size: 5rem;" class="fa-solid fa-person"></i>
              <h3 class="step-title">Step 3: Connect</h3>
              <p class="step-description">
                  Build meaningful connections with your network seamlessly.
              </p>
          </div>
      </div>
  </div>
</section>

<!-- Contact Section -->
<section class="contact">
  <div class="contact-content">
      <h2 class="section-title">✉️ Contact Us</h2>
      <p class="section-description">Feel free to reach out. We're here to help!</p>

      <p class="section-other-text">
          <a style="color: yellow; font-size: large; text-decoration: none;" href="mailto:dev@bytecard.ie">Click Here!</a>

</section>







  
  <footer class="footer">
      ByteCard - 2024 <br> Cian Anderson & Joshua Sunil Mathew
  </footer>
</body>
</html>
