<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ByteCard</title>

</head>
<body>

<div class="container">
    <h2>You Have Logged Out</h2>
    <h1>ByteCard</h1>
    </form>
</div>

</body>
</html>
