<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/search.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
  <header class="header">
    <a class="logo" href="/"><div>ByteCard</div></a>
    <nav class="nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/login" class="nav-link">Login</a>
    </nav>
  </header>

  <div class="container">
    <div class="search_text">Search for ByteCards</div>
    <form action="/search" method="POST">
      <input 
        type="text" 
        class="search-input" 
        name="query" 
        placeholder="Enter search query..." 
      />
      
      <div class="search-by-container">
        <label for="column" class="search-by-label">Search By:</label>
        <select name="column" id="column" class="search-by-select" required>
          <option value="card_name">Name</option>
          <option value="card_position">Position</option>
          <option value="card_company">Company</option>
          <option value="tagname">Tag</option>
        </select>
      </div>
      
      <button type="submit" class="btn">Search</button>
    </form>
    
  
    
    <div class="results-container">
      <ul class="search-results">
        <% if (cards && cards.length > 0) { %>
          <% cards.forEach(function(card) { %>
            <li class="card" >
              <div class="card-header">
                <span class="card-name"><%= card.card_name %></span>
                <span class="card-brand">ByteCard</span>
              </div>
              <div class="card-body">
                <div class="card-position"><%= card.card_position %></div>
              </div>
              <div class="card-footer">
                <span class="company-name"><%= card.card_company %></span>
                <span class="card-industry"><%= card.tagname %></span>

                <a href="/carddetail" class="nav-link">Detail</a>
              </div>
              
            </li>
          <% }); %>
        <% } else { %>
          <li>No results found.</li>
        <% } %>
      </ul>
    </div>
  </div>
</body>
</html>
