
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444444;
  }
  
  /* Navbar Styles */
  nav {
    background-color: #202020; /* Light gray background */
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-weight: bold;
    text-decoration: none;
    color: #ffcc27; /* Dark gray text */
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a{
    text-decoration: none;
    color: rgb(209, 212, 11);
    padding: 10px;

  }

  .nav-links a:hover {
    text-decoration: underline;
  

  }


  .welcome-box {
    left: 0;
    top: 50px;
    padding: 20px;
    background-color: #444444;
}

/* From Uiverse.io by vinodjangid07 */
.welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
} 



.welcome-box h1 {
    color: #ffcc27;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-box p {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.Btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffca60;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "Create Your ByteCard";
    color: #ffaa00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }
