@import url("generic.css");

/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box; /* Include padding and borders in element's width/height */
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: #f5f5f5;
}


/* Main Content */
.main-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--secondary-color); 
}

span {
  color: var(--primary-color); 
}

h2 {
  
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #00ffd5;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 2rem;
  margin-top: 20px;
}

.card {
  background: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 5px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.card-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.card-brand {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.card-body {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.card-position {
  font-size: 1rem;
  font-weight: 500;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #777777;
}

.company-name {
  font-weight: 600;
  color: #ffffff;
}

.card-industry {
  background-color: var(--background-color);
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: #777777;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Single column for smaller screens */
  }

  .card {
    padding: 1rem;
  }
}



.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: rgb(255, 255, 255);
  background-color: var(--secondary-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.deletecardbtn{
  width: 70px;
  padding: 1;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: var(--darker-background-color);
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.deletecardbtn:hover {
  background-color: var(--primary-color);
  color: red;
  cursor: pointer;
}
