
/* Header */
:root {
--primary-color: white;
--secondary-color: #45A29E;
--background-color: #1F2833;
--darker-background-color: #014147;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--darker-background-color);
    color: white;
    position: sticky; 
    top: 0; 
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.sticky {
    background-color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
  }
  
  .logo:hover {
    cursor: pointer;
    text-decoration: none;
  }
  

.nav {
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    
    color: var(--secondary-color);
}

/* Footer */
.footer {
    background-color: var(--darker-background-color);
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
  }