/* Root Variables */
:root {
    --primary-color: white;
    --secondary-color: #45A29E;
    --background-color: #1F2833;
    --darker-background-color: #014147;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--darker-background-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.header.sticky {
    background-color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Logo Styling */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo:hover {
    cursor: pointer;
    text-decoration: none;
}

/* Navigation Styling */
.nav {
    display: flex;
    justify-content: flex-end;
    display: flex; /* By default, display links horizontally */
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Navigation Links */
.nav-link {
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* Hamburger Menu for smaller screens */
.hamburger {
    display: none; /* Initially hidden */
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* Hidden by default for mobile, shown when hamburger is clicked */
.nav {
    display: flex; /* Default for large screens */
}

.nav.open {
    display: flex; /* Show on toggle for mobile */
    flex-direction: column;
    background-color: var(--darker-background-color);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: var(--darker-background-color);
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}


/* Responsive Styling for Mobile */
@media (max-width: 768px) {
    .header {
        padding: 1rem;
        font-size: clamp(0.4rem, 3vw, 1.2rem);
        flex-wrap: wrap;
    }

    .nav {
        justify-content: flex-end; 
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 70%;
    }

    /* Make nav a vertical column on small screens */
    .nav {
        display: none; /* Hide by default on mobile */
        flex-direction: column;
        width: 100%; /* Take full width */
    }

    .nav.open {
        display: flex; /* Display when hamburger is clicked */
    }
}
