/* Root Variables */
:root {
    --primary-color: white;
    --secondary-color: #45A29E;
    --background-color: #1F2833;
    --darker-background-color: #014147;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between; /* Space between logo and nav links */
    padding: 1rem 2rem;
    background-color: var(--darker-background-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.header.sticky {
    background-color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Logo Styling */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: flex;
    margin: 0;
    align-items: center; /* Vertically center within the header */
    height: 100%; /* Ensure it spans the full height of the header */
}

.logo:hover {
    cursor: pointer;
    text-decoration: none;
}

/* Navigation Styling */
.nav {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    gap: 1rem;
    width: 100%;
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    display: flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center text in nav links */
}

.nav-link:hover {
    color: var(--secondary-color);
}

/* Footer */
.footer {
    background-color: var(--darker-background-color);
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .header {
        padding: 1rem;
        font-size: clamp(0.4rem, 3vw, 1.2rem);
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
    }

    .nav {
        justify-content: center;
        flex-wrap: wrap; /* Wrap links if they overflow */
        gap: 0.5rem;
        width: 70%;
    }

    .logo {
        font-size: clamp(1.3rem, 3vw, 1.8rem);
        justify-content: center;
    }
}
