body {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5a5959; 
  }
  .container {
    max-width: 500px;
    width: 100%;
    padding: 50px;
    background: #2c2929;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(61, 61, 54, 0.2);
  }
  h2 {
    text-align: center;
    color: #d6d6d6; 
  }

  h1{
    text-align: center;
    color: #ffd700;
  } 
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #ffd700; 
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffd700; 
    border-radius: 4px;
    color: #000000; 
    background-color: #f0f0f0; 
  }
  .btn {
    width: 50px;
    padding: 10px;
    background-color: #ffd700; 
    color: #000000; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #e6c200; 
  }
  .register-link {
    text-align: center;
    margin-top: 10px;
    display: block;
    color: #ffd82a; 
  }
  